// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// style template
@import 'ithoststyle';

// overrides

body {
    color: #48515a;
}
h2 {
    color: #12756b;
    font-size: 38px;
    margin-bottom: 3rem;
}
h3 {
    margin-bottom: 1rem;
}

h4 {
    margin-bottom: 1rem;
}

.site-btn {
    font-size: 1.0rem;
    

}
.hero-section {
    height: 720px;
    background: #013536 !important;
    background: radial-gradient(circle, #013536 0%, #011627 100%), url('img/agroecology1.jpg') !important;
    margin-bottom: 5rem;
    h4 {
        font-weight: 500;
    } 
    h2 {
        font-weight: 600;
    }
}
p {
    display: block;
    width: 100%;
}

a.blacklink {
    color: #48515a;
}
a.blacklink:hover {
    color: #000000 !important;
}


@media only screen and (min-width: 480px) and (max-width: 991px) {
    .hero-content h2 {
        font-size: 70px !important;
    }
}
@media only screen and (max-width: 991px) {
    .hero-section {
        height: 750px !important;
    }
}
.main-menu a:hover {
    color: #f46036 !important;
}
//.hero-content {
//    align-items: flex-end;
//}

.footer-section {
    background: #011627;
    margin-top: 100px !important;
}

.spad p, .spad li {
    font-size: 18px;
    font-family: Nunito;
}


.user-panel {
    background-color: #f46036;
    a {
        color: #fff;
    }
}

.ft-links .ft-icon:hover {
    background: #10426b !important;
    transition: background-color 0.15s ease-in-out;
}
//.accordion {
//    .card {
//        border: none;
//        background-color: transparent;
//        border-radius: 0px !important;
//    }
//    .card-header {
//    border-radius: 0px !important;
//    border: none;
//    color: #fff !important;
//    background-color: $color2;
//    

//    h2 {
//        color: #fff !important;
//        margin-bottom: 0;
//    }
//    }
//}

.accordion-area .panel-link.active.collapsed {
    background-color: $color4;
}

 
// Front page buttons
.hero-section,.splash {

    .btn {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 0rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    width: 15rem;
    padding: 1.4rem 0.75rem;
    margin-right: 0.7rem;
    margin-bottom: 1.5rem;

    }
    .btn:hover {
        color: #fff;
        background-color: #f46036;
        border-color: #f46036;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.2s ease-in-out;
    
}
}
.hero-section {
    //.btn:hover {
    //    color: #011627;
    //    text-decoration: none;
    //    background-color: #fff;
    //    font-weight: 600;
    //  }
    .btn-primary {
        color: #011627;
        background-color: #fff;
        border-color: #fff;
        font-weight: 600;
    }
    
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
.splash {
    p,h1,h2,h3,h4,h5 {
    color: #fff;
    }
    //row-no-margin {
       // align-content: space-between;
    //}
    h4 {
        font-weight: 100;
        line-height: 2.05rem;
        font-size: 1.3rem;
    }
    h1 {
        font-weight: 900;
    } 
    // .btn:hover {
    //     color: $color2;
    //     background-color: #fff;
    //     border-color: #fff;
    //     transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.2s ease-in-out;
    
    .btn-primary {
        color: $color4;
        background-color: #fff;
        border-color: #fff;
        font-weight: 600;
    }
    // .btn-primary:hover {
    //     color: #fff;
    //     background-color: $color2;
    //     border-color: #fff;
    //     transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.2s ease-in-out;
    // }
}

// Tools Page

.panel-header {
    button {
    font-size: 1rem !important;
    }
}
.form-prog {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
 //   height: 9rem;
    background-color: #f8fafc;
    z-index: 3;
    margin-left: 0px;
    width: 100%;
    padding-bottom: 2rem;

  }
// *testing progress bar

.pbcont {
    width: 80%;
    margin: 0.6rem auto; 
}
.progressbar {
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    position: relative;
    text-align: center;
    color: #afafaf;
    h3 {
    font-size: 1.4rem;
    color: #747474;
    padding-top: 0.6rem;
    margin-bottom: 0.8rem;
}}
.pb_active,.pb_done {

    color: #585858 !important;
    h3 {

        color: #1c1c1c !important;
        }
    }
.progressbar li:before {
    width: 35px;
    height: 35px;
    content: " ";
    line-height: 30px;
    border: 3px solid #c7c7c7;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #f8fafc;
}
.progressbar li:after {
    width: 100%;
    height: 3px;
    content: '';
    position: absolute;
    background-color: #c7c7c7;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.pb_done:before {
    border-color: $color;
    background-color: $color;
}

.progressbar li.pb_active:before {
    width: 35px;
    height: 35px;
    content: " ";

    border: 4px solid $color;
}
.progressbar li.pb_done + li:after {
    background-color: $color;

    border-color: $color;
}




//information needss

.img-block {
    color: #fff !important;
    justify-content: center;

    button {
    display: inline-block;
    height: 17rem;
    background-position: center;
    background-size: cover;
    border: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;

        span {
          //  padding-top: 95%;
            position: absolute;
            left: 0;
            bottom: 2rem;
            width: 100%;
        }
    }
   
    .col-xl-3,.col-lg-4,.col-sm-6,.col-xl-2,.col-lg-3,.col-md-4 {
        padding: 0rem !important;
        position: relative;
        border: 0.3rem solid #f8fafc;
        }
    }

 //hover effects for surveybuilder
 .button1 {
    -webkit-filter: brightness(110%) contrast(70%) grayscale(20%);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.button1:hover {
    -webkit-filter: brightness(100%);
    
    
    span {
        text-decoration: underline;
    }

}
//hover effects for categories

.button2 {
    -webkit-filter: brightness(100%);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.button2:hover {
    -webkit-filter: brightness(70%) grayscale(20%);
    
    
    span {
        text-decoration: underline;
    }
}

.ib1 {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#011627e3),url(/img/soil.jpg);
}

.ib2 {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#011627e3),url(/img/tool2.jpg);
}
.ib3 {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#011627e3),url(/img/Pest.jpg);
}
.ib4 {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#011627e3),url(/img/women.jpg);
}
.ib5 {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#011627e3),url(/img/networks.jpg);
}
.ib6 {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#011627e3),url(/img/Evaluation.jpg);
}
.ib7 {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#011627e3),url(/img/tool3.jpg);
}
.ib8 {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#011627e3),url(/img/tool5.jpg);
}

.ibalt {
    background-color: $color3;

}

// #level1 {
//     padding-top: 2rem;
//     .accordion-toggle {
//         display: block;
//         margin: auto;
//         background-color: #fff;
//         padding: 1.6rem;
//         border-radius: 0px !important;
//         margin-top: 0.6rem;
//         color: $color2;
//         font-size: 1.3rem;
//         line-height: 15px;
//         font-weight: 700;
//         width: 100%;
//         min-width: 250px;
//     }
//     .accordion-toggle:hover {
//         background-color: #e7ebec;
//     }
 
//     .accordion-inner {
//         display: block;
//         margin: auto;
//         border-top: 1px solid #ebebeb;
//         width: 100%;
//         min-width: 250px;
        

//     }
// }

// #level2 {

//     .accordion-toggle {
//         width: 100% !important;
//         margin-top: 0rem !important;
//         margin-bottom: 0rem;
//         font-size: 0.9rem;
//         font-weight: 500;
//         color: #585858;
//     }
// }


// New indicator list:

.tl-item,.tl-heading{
        display: block;
        margin: auto;
        background-color: #fff;
        border-radius: 0px;
        width: 100%;
        min-width: 250px;
}

.tl-heading {
        margin-top: 0.6rem;
        color: $color2;
        font-size: 1.3rem;
        font-weight: 700;
        padding: 1.6rem;
        text-align: center;
        margin-top: 0px;
    }

.tl-subh {
    font-weight: 600;
    color: #1c1c1c;
    text-align: left;
    background-color: #fff;
    padding-left: 2.5rem;
}    

.tl-item {
            margin-top: 0rem !important;
            margin-bottom: 0rem;
            font-size: 0.9rem;
            font-weight: 400;
            color: #585858;
            padding: 1.3rem;
            padding-left: 4rem;
            padding-right: 2.4rem;
            text-align: left;
            position: relative;
        }

.tl-item:hover {
    background-color: #e7ebec !important;
}

.accordion-inner .tl-item:last-child {
    border-radius: 0px 0px 10px 10px;
}



// .modal-body .tl-item {
//     margin: auto;
//     margin-bottom: 0.4rem;
//     width: 100%;
//     background-color: #f5f7f8;
//     padding: 0.7rem 1rem 0.7rem 1.5rem;
//     border-radius: 15px;
// }
.greylist .tl-item{
    margin: auto;
    margin-bottom: 0.4rem;
    width: 100%;
    background-color: #f5f7f8;
    padding: 0.7rem 1rem 0.7rem 1.5rem;
    border-radius: 15px;
}
// Tables

.table {
    th {
        color: $color2;
        font-size: 1.3rem;
        font-weight: 700;

}
th[scope=col] {
    border-top: none;
    }
    td,td a {
        font-size: 0.9rem;
        font-weight: 400;
        color: #585858;
    }
    .rh,.rh a {
        font-size: 0.9rem;
        font-weight: 600;
        color: #1c1c1c;

    }
    a {
        display: block;
    }

td:first-child {
    vertical-align: middle;
}
    }


.site-btn:hover {
    background-color: #e44e24;
    transition: background-color 0.15s ease-in-out;
}

.site-btn-sec {
    background-color: #a5a9aa;
}
.site-btn-sec:hover {
    background-color: #838888;
    transition: background-color 0.15s ease-in-out;
}
.modal-footer .site-btn {
    font-size: 0.9rem;
}

.item-box {
    margin: auto;
   // background-color: #eef3f5; 
    width: 85%; 
    padding: 0.3rem;
}

.carousel-item {
    height: 500px;
}

.carousel .container{
    height: 500px;
}
.carousel {
    h3,p {
   color: #fff;
}}
.carousel-indicators li{
    width: 8px !important;
    height: 8px !important;
    border-radius: 50%;
    margin-left: 4px;
    margin-right: 4px
}

.carousel img {
    object-fit: cover;
    min-height: 100%;
    width: 100%;
}

.img-gradient {
    position:relative;
    display:inline-block;
    padding: 0px;
  }

  .img-gradient:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgb(1, 22, 39) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1, 22, 39, 1)), color-stop(100%,rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(1, 22, 39, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(1, 22, 39, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(1, 22, 39, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgba(1, 22, 39, 1) 100%); /* W3C */
  }
  .img-gradient img{
    display:block;
  }


.accordion-heading {
    margin-top: 0.7rem;
    margin-bottom: 0px;
}
.accordion-group {
    border-radius: 10px;
    background-color: #fff;
}

.faend,.famid {
    float: right;
    position: absolute; 
    bottom: 40%; 
    right: 1.42rem; 
    z-index: 0;
    font-size: 1.1rem;
    color: #80868c;
}
.famid {
    right: 3.5rem; 
}
.faend:hover,.famid:hover {
   
        color: #000000 !important;
    
}
//**************
//QG Formatting
//**************
div[id^="qg-"] {


button {
    padding-left: 1rem;
}
button:active,button:focus {
    outline: none !important;
box-shadow: none;

}

.collapse {
    margin-left: 1rem; 
    border-left: 3px solid rgb(126, 170, 166);
}
    .tl-item {
    padding-right: 6rem;
    }

.tl-subh {
  //  border-top: solid 1px #e7ebec;

}
div:first-child .tl-subh {
    border-top: none;
}
    .famid,.faend {
    font-size: 1rem;
}
.faend {
    right: 1.3rem;
}
.famid {
    right: 3.3rem;
}
}
.close {
    margin: auto -1rem auto auto;
}

.modal-header {
    background-color: #12756b; 
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

    h3,button {
    color: #ffffff !important;
    }
    h3 {
    padding-left: 1rem;
    }
}
.modal-content {
    background-color: transparent;
    h5 {
        margin-bottom: 1.5rem;
        margin-top: 0.5rem;
    }
}
.modal-body,.modal-footer {
    background-color: #fff;
}
.qg { 
    h4{
        text-align: center; 
        background-color: #12756b; 
        color: #ffffff; 
        border-radius:10px;
        padding: 1.5rem;
        margin-bottom: 0px;
    }
}

#checkboxes div[class^="col-"] {
    //border: 0.4rem solid #f8fafc;
    margin: 0.2rem;
    min-width: 210px;
}



.checkdiv{
    display: inline-block;
    height: 12.5rem;
    width: 100%;
    background-color: #14354f;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 0px;





    div {

        display: block;
          position: absolute;
          left: 0;
          bottom: 0rem;
          width: 100%;
          border-radius: 20px;
                text-align: center;
                z-index: 1;

      }
}

div[class^="ibalt"] {

background-position: center;
background-size: cover;
-webkit-filter: grayscale(100%) opacity(50%) brightness(90%) contrast(100%);
-webkit-transition: all 0.25s ease;
-moz-transition: all 0.25s ease;
-o-transition: all 0.25s ease;
-ms-transition: all 0.25s ease;
transition: all 0.25s ease;
z-index: 0;
height: 100%;

    + div {
        position: relative;
        top: 50%;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
}
}


.checkdiv:hover {
    
    
    
    div[class^="ibalt"] {
        text-decoration: underline;
        -webkit-filter: opacity(100%) grayscale(0%) brightness(80%);
        
    }
}

#checkboxes input[type=checkbox],#indicatorlist input[type=checkbox]{
    display: none;
}

#checkboxes input[type=checkbox]:checked + label.checkdiv{

background-color: $color2;
       div[class^="ibalt"] {
           -webkit-filter: opacity(50%) grayscale(70%) brightness(100%) contrast(75%);
        }
      

}


.ibalt1 {
    background: url(/img/tool1.jpg);
}
.ibalt2 {
    background: url(/img/tool2.jpg);
}.ibalt3 {
    background: url(/img/tool3.jpg);
}.ibalt4 {
    background: url(/img/tool4.jpg);
}.ibalt5 {
    background: url(/img/tool5.jpg);
}.ibalt6 {
    background: url(/img/tool2.jpg);
}.ibalt7 {
    background: url(/img/tool4.jpg);
}.ibalt8 {
    background: url(/img/tool3.jpg);
}

#indicatorlist input[type=checkbox]:checked + label.tl-item {
    background-color: #e7ebec !important;

}
#indicatorlist .tl-item {
    cursor: pointer;
}
.imgdiv {
background-position: center;
background-size: contain;
}

.frnproc div {
   margin: 0.4rem; 
   padding: 0rem;
   min-width: 12rem;
   min-height: 16rem;
}
.frnproc span {
    font-size: 0.8em;
    line-height: 80%;
} 

.frnproc .checkdiv:hover {
background-color: #091c2b;
text-decoration: underline;
}

.frnmore {
    background-color: #69757f;
}

.frnmore:hover {
    background-color: #545e66 !important;
}