// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// style template
@import 'ithoststyle';

// overrides

body {
    color: #48515a;
}
h2 {
    color: #12756b;
    font-size: 38px;
    margin-bottom: 3rem;
}
h3 {
    margin-bottom: 1rem;
}

h4 {
    margin-bottom: 1rem;
}

.site-btn {
    font-size: 1.0rem;
    

}
.hero-section {
    height: 720px;
    background: #013536 !important;
    background: radial-gradient(circle, #013536 0%, #011627 100%), url('img/agroecology1.jpg') !important;
    margin-bottom: 5rem;
    h4 {
        font-weight: 500;
    } 
    h2 {
        font-weight: 600;
    }
}

@media only screen and (min-width: 480px) and (max-width: 991px) {
    .hero-content h2 {
        font-size: 70px !important;
    }
}
@media only screen and (max-width: 991px) {
    .hero-section {
        height: 750px !important;
    }
}
.main-menu a:hover {
    color: #f46036 !important;
}
//.hero-content {
//    align-items: flex-end;
//}

.footer-section {
    background: #011627;
    margin-top: 100px !important;
}

.spad p, .spad li {
    font-size: 18px;
    font-family: Nunito;
}


.user-panel {
    background-color: #f46036;
    a {
        color: #fff;
    }
}

.ft-links .ft-icon:hover {
    background: #10426b !important;
    transition: background-color 0.15s ease-in-out;
}
//.accordion {
//    .card {
//        border: none;
//        background-color: transparent;
//        border-radius: 0px !important;
//    }
//    .card-header {
//    border-radius: 0px !important;
//    border: none;
//    color: #fff !important;
//    background-color: $color2;
//    

//    h2 {
//        color: #fff !important;
//        margin-bottom: 0;
//    }
//    }
//}

.accordion-area .panel-link.active.collapsed {
    background-color: $color4;
}

 
// Front page buttons
.hero-section {

.btn {
color: #fff;
background-color: transparent;
border: 2px solid #fff;
border-radius: 0rem;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
width: 15rem;
padding: 1.4rem 0.75rem;
margin-right: 0.7rem;
margin-bottom: 1.5rem;

}
//.btn:hover {
//    color: #011627;
//    text-decoration: none;
//    background-color: #fff;
//    font-weight: 600;
//  }
.btn-primary {
    color: #011627;
    background-color: #fff;
    border-color: #fff;
    font-weight: 600;
  }
.btn:hover {
    color: #fff;
    background-color: #f46036;
    border-color: #f46036;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.2s ease-in-out;
    
}
}

// Tools Page

.panel-header {
    button {
    font-size: 1rem !important;
    }
}
.form-prog {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
 //   height: 9rem;
    background-color: #f8fafc;
    z-index: 3;
    margin-left: 0px;
    width: 100%;
    padding-bottom: 2rem;

  }
// *testing progress bar

.pbcont {
    width: 80%;
    margin: 0.6rem auto; 
}
.progressbar {
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    position: relative;
    text-align: center;
    color: #afafaf;
    h3 {
    font-size: 1.4rem;
    color: #747474;
    padding-top: 0.6rem;
    margin-bottom: 0.8rem;
}}
.pb_active,.pb_done {

    color: #585858 !important;
    h3 {

        color: #1c1c1c !important;
        }
    }
.progressbar li:before {
    width: 35px;
    height: 35px;
    content: " ";
    line-height: 30px;
    border: 3px solid #c7c7c7;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #f8fafc;
}
.progressbar li:after {
    width: 100%;
    height: 3px;
    content: '';
    position: absolute;
    background-color: #c7c7c7;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.pb_done:before {
    border-color: $color;
    background-color: $color;
}

.progressbar li.pb_active:before {
    width: 35px;
    height: 35px;
    content: " ";

    border: 4px solid $color;
}
.progressbar li.pb_done + li:after {
    background-color: $color;

    border-color: $color;
}




//information needss

.img-block {
    color: #fff !important;
    justify-content: center;

    button {
    display: inline-block;
    height: 17rem;
    background-position: center;
    background-size: cover;
    border: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    -webkit-filter: brightness(110%) contrast(70%) grayscale(20%);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
        span {
          //  padding-top: 95%;
            position: absolute;
            left: 0;
            bottom: 2rem;
            width: 100%;
        }
}
    
    button:hover {
        -webkit-filter: brightness(100%);
        
        
        span {
            text-decoration: underline;
        }

    }
    .col-xl-3,.col-lg-4,.col-sm-6 {
        padding: 0rem !important;
        position: relative;
    }


}
.ib1 {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#011627e3),url(/img/tool1.jpg);
}

.ib2 {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#011627e3),url(/img/tool2.jpg);
}
.ib3 {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#011627e3),url(/img/tool3.jpg);
}
.ib4 {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#011627e3),url(/img/tool4.jpg);
}
.ib5 {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#011627e3),url(/img/tool5.jpg);
}
.ib6 {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#011627e3),url(/img/tool1.jpg);
}
.ib7 {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#011627e3),url(/img/tool2.jpg);
}
.ib8 {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#011627e3),url(/img/tool3.jpg);
}

#level1 {
    padding-top: 2rem;
    .accordion-toggle {
        display: block;
        margin: auto;
        background-color: #fff;
        padding: 1.6rem;
        border-radius: 0px !important;
        margin-top: 0.6rem;
        color: $color2;
        font-size: 1.3rem;
        line-height: 15px;
        font-weight: 700;
        width: 100%;
        min-width: 250px;
    }
    .accordion-toggle:hover {
        background-color: #e7ebec;
    }
 
    .accordion-inner {
        display: block;
        margin: auto;
        border-top: 1px solid #ebebeb;
        width: 100%;
        min-width: 250px;
        

    }
}

#level2 {

    .accordion-toggle {
        width: 100% !important;
        margin-top: 0rem !important;
        margin-bottom: 0rem;
        font-size: 0.9rem;
        font-weight: 500;
        color: #585858;
    }
}


// New indicator list:

.tool-list {
        display: block;
        margin: auto;
        background-color: #fff;
        border-radius: 0px;
        width: 100%;
        min-width: 250px;
        line-height: 15px;
}
.tl-heading {
        margin-top: 0.6rem;
        color: $color2 !important;
        font-size: 1.3rem;
        font-weight: 700;
        padding: 1.6rem;
    }
.tl-item {
            margin-top: 0rem !important;
            margin-bottom: 0rem;
            font-size: 0.9rem;
            font-weight: 400;
            color: #585858;
            padding: 1.3rem;
            padding-left: 4rem;
        }

.tl-item:hover {
        background-color: #e7ebec !important;
    }

.modal-body .tl-item {
    margin: auto;
    margin-bottom: 0.4rem;
    width: 100%;
    background-color: #f5f7f8;
    padding: 0.7rem 1rem 0.7rem 1.5rem;
    border-radius: 15px;
}
// Tables

.table {
    th {
        color: $color2;
        font-size: 1.3rem;
        font-weight: 700;
}
    td,td a {
        font-size: 0.9rem;
        font-weight: 400;
        color: #585858;
    }
    .rh,.rh a {
        font-size: 0.9rem;
        font-weight: 600;
        color: #1c1c1c;

    }
    a {
        display: block;
    }

td:first-child {
    vertical-align: middle;
}
    }


.site-btn:hover {
    background-color: #e44e24;
    transition: background-color 0.15s ease-in-out;
}

.site-btn-sec {
    background-color: #a5a9aa;
}
.site-btn-sec:hover {
    background-color: #838888;
    transition: background-color 0.15s ease-in-out;
}
.modal-footer .site-btn {
    font-size: 0.9rem;
}

.item-box {
    margin: auto;
   // background-color: #eef3f5; 
    width: 85%; 
    padding: 0.3rem;
}